*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    /* position: relative; */
    display: flex; 
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: rgb(34, 17, 97);
}
.container{
    /* position: absolute;
    top: 50%; */
    /* height: 50vh; */
    width: 80vw;
    text-align: center;
    margin: 0 auto;

}
h1{
    color: white;
    letter-spacing: 3px;
    margin: 20px;
}
.card img{
    height: 220px;
    width: 250px;
}
.btn{
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    color: white;
    background: rgb(243, 204, 76);
}